body.home {
	#primary, #content {
		width: 100%;
		max-width: 100%;
	}

	.divider {
		text-align: center;
		padding: 4rem 4rem 3.75rem;

		h3 {
			margin-bottom: 0;

			a {
				span {
					position: relative;
					top: -0.2rem;
					right: 0;
					font-size: 2.25rem;
				}

				&.hover-down {
					span { @include ease(333ms, top); }

					&:hover {
						span { top: 0.1rem; }
					}
				}
				&.hover-right {
					span { @include ease(333ms, right); }

					&:hover {
						span { right: -0.3rem; }
					}
				}
			}
		}
	}

	#home-featured-post {
		padding: 4rem 0 6rem;
		width: 70%;
		margin-bottom: 0;

		img {
			border: 2px solid $super-light-grey;
			border-radius: 2px;
		}

		p {
			margin-top: 2.5rem;
		}
	}

	.view-all-work {
		background: $super-light-grey;
	}

	.blog-post {
		padding: 8rem 0;
		width: 70%;
		margin-bottom: 0;
	}

	.newsletter-module {
		background: $super-light-grey;
		padding: 2rem 0;

		.row {
			margin-bottom: 0;
		}
	}
}
