.component.hero {
	padding: 15vh 0 6.5vh;
	background: $super-light-grey;

	body.single &,
	body.archive &,
	body.blog &,
	body.page & {
		margin-bottom: 7rem;
	}

	body.home & { margin-bottom: 0; }

	.row {
		margin-bottom: 0;
	}

	.content-wrap {
		position: relative;
		margin: 0 auto;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0; right: 0; left: 0;
			z-index: -1;
		}
	}

	&.align-left {
		.content-wrap { float: left; }
	}

	&.align-right {
		.content-wrap { float: right; }
	}

	.headline {
		color: $black;
	}

	.subheadline {
		color: $black;
	}

	.content {
		color: $black;
	}

	.button-wrap {
		.button {}
	}
}