.row {
  width: $grid_width;
  max-width: $grid_max-width;
  margin: 0 auto $grid_vertical-space;
  @include clearfix;

  @include breakpoint(large) {
  	max-width: $grid_max-width_large;
  }
}

.row-shortcode {
  margin: 0 auto ($grid_vertical-space * 0.55);
  @include clearfix;
}

.wrapper {
	@include clearfix;
}